header{
    background-color: #1444e0;
    color: white;
    text-align: center;
}
.col-md-7>p,.col-md-5>p{
    font-family: 'Petemoss', cursive;
    font-size: 40px;
    font-weight: 125;
    color: indigo;
}
.col-sm-6{
    background-color: #1444e0;
    border: solid white 2px;
    color: white;
}
h3{
    color: green;
}
#day, #month, #year, #gender, #generate-button{
    margin: 10px;
    border-radius: 25px;
    padding: 7px;
}
#generate-button {
    color: green;
    background-color: yellow;
    
}

